:root{
  --primary:#15B75A;
  --secondary:#515151;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header{padding: 20px 0;}
header .logo{}
header .logo img { height: 60px; width: 120px; }
header .navigation{height: 100%;}
header .navigation ul { display: flex;height: 100%;align-items: center;padding: 0; }
header .navigation ul li{list-style: none;padding-right: 40px;}
header .navigation ul li a{color:var(--primary);text-decoration: none;transition: 0.5s;}
header .navigation ul li a:active{color: var(--secondary);}
header .navigation ul li a:hover{color: var(--secondary);}
header .header-contact-btn{height: 100%;display: flex;justify-content: end;align-items: center;}
header .header-contact-btn button { padding: 0.6em; border: none; background-color: transparent; border-radius: 20px; text-transform: uppercase; cursor: pointer; color: var(--primary); transition: all 1000ms; font-size: 15px; position: relative; overflow: hidden; outline: 1px solid var(--primary); width: 180px; letter-spacing: 3px; }
header .header-contact-btn button:hover { color: #ffffff; transform: scale(1.1); outline: 2px solid var(--primary); box-shadow: 4px 5px 17px -4px var(--primary); }
header .header-contact-btn button::before { content: ""; position: absolute; left: -50px; top: 0; width: 0; height: 100%; background-color: var(--primary); transform: skewX(45deg); z-index: -1; transition: width 1000ms; }
header .header-contact-btn button:hover::before { width: 250%; }

footer{background-color: var(--primary);padding: 40px 0;}
footer .foo-desc{display: flex;justify-content: space-around;align-items: center;height: 100%;}
footer .foo-desc .foo-desc-img{}
footer .foo-desc .foo-desc-qoute{}
footer .foo-desc .foo-desc-qoute h3{color: #fff;font-size: 45px;font-weight: 600;margin: 0;}
footer .foo-links{}
footer .foo-links ul{}
footer .foo-links ul li{list-style: none;padding-bottom: 10px;}
footer .foo-links ul li a{color: #fff;text-decoration: none;transition: 0.5s;}
footer .foo-links ul li a:hover{color: var(--secondary);}
footer .foo-contact{}
footer .foo-contact ul{}
footer .foo-contact ul li{list-style: none;padding-bottom: 10px;}
footer .foo-contact ul li span {padding-right: 10px;}
footer .foo-contact ul li span svg{color: #fff;}
footer .foo-contact ul li a{color: #fff;text-decoration: none;transition: 0.5s;}
footer .foo-contact ul li a svg{font-size: 25px;margin-left: 30px;}
footer .foo-contact ul li a:hover{color: var(--secondary);}

.banner{padding: 20px 0;}
.banner .banner-content{display: flex;flex-direction: column;justify-content: center;height: 100%;}
.banner .banner-content a { width: 180px; display: block; background: var(--primary); padding: 15px; color: #fff; text-decoration: none; text-align: center; border-radius: 30px; }
.banner .banner-content h1{font-size: 60px;font-weight: bolder;text-transform: capitalize;color: var(--primary);}
.banner .banner-content p{}
.banner .banner-image{}
.banner .banner-image img{width: 100%;height: 100%;}
.banner .banner-content a{ padding: 0.6em; border: none; background-color: transparent; border-radius: 20px; text-transform: uppercase; cursor: pointer; color: var(--primary); transition: all 1000ms; font-size: 15px; position: relative; overflow: hidden; outline: 1px solid var(--primary); width: 180px; letter-spacing: 3px; }
.banner .banner-content a:hover { color: #ffffff; transform: scale(1.1); outline: 2px solid var(--primary); box-shadow: 4px 5px 17px -4px var(--primary); }
.banner .banner-content a::before { content: ""; position: absolute; left: -50px; top: 0; width: 0; height: 100%; background-color: var(--primary); transform: skewX(45deg); z-index: -1; transition: width 1000ms; }
.banner .banner-content a:hover::before { width: 250%; }
.swiper-pagination-bullet-active{background: var(--primary) !important ;}

.home-help-section { padding: 50px 0;background-image: url("../../public/images/help-section-bg.svg"); background-position: center;background-size: 100% 100%; }
.home-help-section .help_heading{padding-bottom: 20px;text-align: center;}
.home-help-section .help_heading h2{font-size: 50px;font-weight: bolder;text-transform: capitalize;color: var(--primary);}
.home-help-section .help-card { padding: 20px 10px;height: 300px;background-color: #fff; display: flex;justify-content: space-around; flex-direction: column; align-items: center;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 10px; }
.home-help-section .help-card .help-card-image{}
.home-help-section .help-card .help-card-image span{background-color: #B7E9CC;color: var(--primary);padding: 20px;border-radius: 50%;}
.home-help-section .help-card .help-card-image span svg {font-size: 30px;}
.home-help-section .help-card .help-card-title{}
.home-help-section .help-card .help-card-title h4{font-weight: 800;text-transform: capitalize;color: var(--primary);text-align: center;margin: 0;}
.home-help-section .help-card .help-card-desc {text-align: center;}
.home-help-section .help-card .help-card-desc p{margin: 0;color: var(--secondary);}
